extends ../view/index

block body
  section.view.view__registerSuccess
    img.view__registerSuccess--image(src="pato-madre-plana-sentirse-feliz-patitos_23-2148281518.jpg" alt="")
    h2.view__registerSuccess--title You have successfully registered!
    a(href=login)
      button.form__button.form__button--register-back Back to login
